*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    position: relative;
    height: .625rem;
    background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}

.presentacion {
    height: 40.625rem;
    text-align: center;
    color: white;
    background-image: url(../assets/fondo-presentacion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.presentacion h1 {
    padding-top: 20.3125rem;
}
.presentacion p {
    padding: 0 3.125rem;
}