*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img {
    border-radius: 50%;
}
header img:hover{
    border-radius: 5%;
}

.nav__hover a:hover {
    background-color: rgba(211, 211, 211, 0.4);
    font-weight: bold;
    border-radius: 1.25rem;
}

.top {
    position: relative;
    height: .625rem;
    background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40.625rem;
    color: white;
    text-align: center;
    background-image: url(../assets/fondo-presentacion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3.125rem;
    h1{
        font-weight: bold;
    }
}

.banco_y_comercio{
    justify-content: center;
    align-items: center;
}


.reglas {
    height: auto;
    margin-top: 1.25rem;
}
.card {
    height: 100%;
    border-color: deeppink;
}
footer {
    margin-top: .625rem;
    height: 15rem;
    background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}